/*General Styling*/

* {
  font-family: 'Open Sans';
  color: #555;
}

body {
  margin: 0px;
}

h2 {
  font-weight: 200;
  font-size: 29px;
}

/*Header Styling*/

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'logo links burger';
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 8px #aaa;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

.logo {
  grid-area: logo;
  padding: 16px;
}

.headerLinks {
  grid-area: links;
  text-align: center;
  padding: 10px;
}

.headerLinks > button {
  -webkit-appearance: none;
  border: none;
  background: #3c5;
  color: #fff;
  border-radius: 4px;
  width: 120px;
  height: 35px;
  text-transform: uppercase;
}

.headerLinks > button:hover {
  background: #385;
  cursor: pointer;
}

.burger {
  grid-area: burger;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.burger > img {
  width: 30px;
  height: 30px;
}

.burger > img:hover {
  cursor: pointer;
}

/*Banner Styling*/

.banner {
  width: 100%;
  text-align: center;
  background: linear-gradient(#ddf, #eee);
  padding-top: 60px;
}

.banner > h2 {
  padding-top: 100px;
  margin: 0px 20px;
}

.banner > h5 {
  padding-bottom: 100px;
  margin: 10px 20px;
}

/*Calculator Styling*/

.mainContent > h2 {
  margin: 50px 0px;
  text-align: center;
}

table {
  width: 95%;
  border-spacing: 0px;
  margin: auto;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 5px;
}

th {
  color: #666;
}

td {
  text-align: center;
  background: #ccc;
  padding: 14px;
}

#control {
  color: #e74;
}

#variation {
  color: #38f;
}

input:-webkit-autofill {
  color: #555;
}

.input {
  border-radius: 3px;
  border-width: 0px;
  height: 30px;
  text-align: center;
  color: #555;
}

.submit {
  -webkit-appearance: none;
  display: block;
  border: none;
  border-radius: 5px;
  width: 260px;
  height: 50px;
  margin: 50px auto;
  background: #38f;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit:hover {
  background: #15a;
  cursor: pointer;
}

.submit:focus {
  background: #15a;
  outline: none;
}

/*Results Styling*/

.results {
  background: #358;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "... answerOne answerTwo ...";
  grid-column-gap: 20px;
  padding: 50px 0px;
  transition: max-height 2s;
}

.answerOne {
  background: white;
  border-radius: 4px;
  grid-area: answerOne;
}

.answerTwo {
  background: white;
  border-radius: 4px;
  grid-area: answerTwo;
}

.resultName {
  height: 70px;
  padding: 20px 0px;
  text-align: center;
}

.resultName > h3 {
  color: #38f;
  margin-bottom: 5px;
}

.resultName > h6 {
  color: #999;
  margin-top: 0px;
}

.resultAnswer {
  background: #ccc;
  color: #555;
  text-align: center;
  font-size: 20px;
  height: 70px;
  padding: 20px 0px;
  border-radius: 0px 0px 4px 4px;
}

/*Demo Styling*/

.demo {
  text-align: center;
  background: #234;
  padding: 50px 0px;
}

.demo > h3 {
  margin: 0px 20px;
  color: #fff;
  text-transform: uppercase;
}

.demo > p {
  color: #999;
  margin: 0px 20px;
}

.demo > .submit {
  margin: 10px auto 0px auto;
  width: 220px;
}

/*Footer Styling*/

.footer {
  background: #123;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "product resources popular about"
    "copyright copyright copyright copyright";
  grid-column-gap: 20px;
  padding: 0px 20px 20px 20px;
}

.footer h5 {
  color: #ccc;
  text-align: center;
}

.footer p {
  font-size: 14px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

.product {
  grid-area: product;
}

.resources {
  grid-area: resources;
}

.popular {
  grid-area: popular;
}

.about {
  grid-area: about;
}

.copyright {
  grid-area: copyright;
  text-align: center;
  padding-top: 10px;
  border-top: 2px solid rgba(220, 220, 220, 0.2);
}

.copyright p {
  color: #ccc;
  font-size: 11px;
}

.copyright a {
  color: #ccc;
  font-size: 11px;
}

.copyright h2 {
  color: #ccc;
  font-weight: 100;
}

.copyright h2:hover {
  cursor: pointer;
}

@media(max-width: 750px) {

  /*Responsive Table Styling*/

  /* Force table to not be a table anymore */
  table, tbody, th, td, tr {
    display: block;
  }

  th {
    padding: 20px 0px;
  }

  #control {
    display: none;
  }

  #variation {
    display: none;
  }

  #emptyHeader {
    display: none;
  }

  td {
    /*Behave like a row*/
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /*Now like a table header*/
    position: absolute;
    /*Top/left values mimic padding*/
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*Label the data*/
  td:nth-of-type(1):before {
    content: "Control";
    color: #e74;
    padding-top: 13px;
  }
  td:nth-of-type(2):before {
    content: "Variation";
    color: #38f;
    padding-top: 13px;
  }

  /*Responsive Results Styling*/

  .results {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "... answerOne answerOne answerOne ..."
      "... answerTwo answerTwo answerTwo ...";
    grid-column-gap: 0px;
  }

  .answerOne {
    margin: 20px 0px;
  }

  /*Responsive Footer Styling*/

  .footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      'product'
      'resources'
      'popular'
      'about'
      'copyright'
  }

  .footer p {
    text-align: center;
  }
}

@media(max-width: 400px) {

  /*Responsive Header Styling*/

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'logo burger';
  }

  .headerLinks {
    display: none;
  }

  /*Inputs fit correctly on mobile*/

  input {
    width: 90%;
  }
}
