<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Statistical Calculator</title>
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet'>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        MyLogo
      </div>
      <div class="headerLinks">
        <button type="button" name="button">Request A Demo</button>
      </div>
      <div class="burger">
        <img src="{% static '/images/burger.png' %}" alt="Bur">
      </div>
    </div>
    <div class="banner">
      <h2>A/B split test significance calculator</h2>
      <h5>Get comprehensive insights about testing, optimization, UX, design, and more.</h5>
    </div>
    <div class="mainContent">
      <h2>Are your results significant?</h2>
      <form id='calculator'>
        {% csrf_token %}
        <table>
          <tr>
            <th id='emptyHeader'></th>
            <td id='control'>Control</td>
            <td id='variation'>Variation</td>
          </tr>
          <tr>
            <th>Number of Visitors</th>
            <td><input class="input" type="number" id="visitorControl"></td>
            <td><input class="input" type="number" id="visitorVariation"></td>
          </tr>
          <tr>
            <th>Number of Conversions</th>
            <td><input class="input" type="number" id="convControl"></td>
            <td><input class="input" type="number" id="convVariation"></td>
          </tr>
        </table>
        <input id='submit' class='submit' type="submit" value="Calculate Significance">
      </form>
    </div>
    <div id='results' class="results">
      <div class="answerOne">
        <div class="resultName">
          <h3>p-Value</h3>
          <h6>(Range from 0-1)</h6>
        </div>
        <div class="resultAnswer">
          <p id='pValue'></p>
        </div>
      </div>
      <div class="answerTwo">
        <div class="resultName">
          <h3>Significance</h3>
        </div>
        <div class="resultAnswer">
          <p id='significance'></p>
        </div>
      </div>
    </div>
    <div class="demo">
      <h3>Schedule a personalized demo</h3>
      <p>Get in touch with us for a detailed walk-through of VWO.</p>
      <button class='submit'>Request a demo</button>
    </div>
    <div class="footer">
      <div class="product">
        <h5>Product</h5>
        <p><a href="#">CRO Platform</a> / <a href="#">Track</a> / <a href="#">Analyze</a>
        / <a href="#">Plan</a> / <a href="#">Test</a> / <a href="#">Target</a></p>
      </div>
      <div class="resources">
        <h5>Resources</h5>
        <p><a href="#">VWO vs. Optimizely</a> / <a href="#">VWO vs. Google Optimize</a>
          / <a href="#">Knowledge base</a> / <a href="#">Case Studies</a> /
          <a href="#">Blog</a> / <a href="#">Videos & Webinars</a> / <a href="#">Free tools</a>
          / <a href="#">Guides & eBooks</a> / <a href="#">Ecommerce</a></p>
      </div>
      <div class="popular">
        <h5>Popular Content</h5>
        <p><a href="#">A/B Testing Guide</a> / <a href="#">Ultimate Guide to CRO</a>
         / <a href="#">Bayesian Statistics</a> / <a href="#">Significance Calculator</a>
         / <a href="#">Duration Calculator</a></p>
      </div>
      <div class="about">
        <h5>About</h5>
        <p><a href="#">About us</a> / <a href="#">GDPR</a> / <a href="#">Customers</a>
          / <a href="#">Careers</a> / <a href="#">Integrations</a> / <a href="#">Partners</a>
          / <a href="#">Pricing</a> / <a href="#">Team Blog</a>
          / <a href="#">Engineering Blog</a> / <a href="#">Contact Us</a></p>
      </div>
      <div class="copyright">
        <p>&copy; 2018 Copyright MyCompany. All rights reserved</p>
        <p><a href="#">Terms of Use</a> | <a href="#">Security</a> | <a href="#">Privacy</a>
         | <a href="#">Opt-out</a></p>
        <h2>MyCompany</h2>
      </div>
    </div>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type='text/javascript' src='{% static "javascript/process.js" %}'></script>
  </body>
</html>
